$main-text-color: #757575;
$title-text-color: #212121;
$contrast-text-color: #ffffff;
$accent-color: #2196f3;
$body-color: #ffffff;
$alt-body-color: #f5f4fa;
$dark-body-color: #2f303a;
$main-font: Roboto, sans-serif;
$title-font: Roboto bold, sans-serif;
